https://alexandra-zaharia.github.io/posts/stopping-python-systemd-service-cleanly/
https://alexandra-zaharia.github.io/posts/how-to-stop-a-python-thread-cleanly/

[Unit]
Description=Sand Rover Service
[Service]
WorkingDirectory=/home/pi/Rover/rover
Type=simple
ExecStartPre=/bin/sh -c 'until ping -c1 google.com; do sleep 1; done;'
ExecStart=/usr/bin/python /home/pi/Rover/rover/src/mainrover.py
Restart=on-abort

[Install]
WantedBy=multi-user.target